* {
  margin: 0;
  padding: 0;
}
body{
  -webkit-font-smoothing: antialiased;
  font: 100% 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft Yahei';
}
.wd-break{
  word-break: break-all;
}
.detail-layer-pannel{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  overflow: scroll;
}
.table-condensed{
  width: 50%;
  float: left;
}
.table-condensed caption{
  font-size: 30px;
}
.response-body{
  width: 100%;
  float: left;
}
.response-url-title{
  background: #f5f5dc none repeat scroll 0 0;
  padding: 12px;
}
tr.tr-host-selected,tr.tr-host-selected td{
  background-color: #7CFC00 !important;
}
tr.tr-status-400,tr.tr-status-400 td{
  color: red !important;
}