* {
  margin: 0;
  padding: 0;
}
body{
  -webkit-font-smoothing: antialiased;
  font: 100% 'Hiragino Sans GB', Helvetica, Arial, 'Microsoft Yahei';
  font-size: 14px;
  overflow: hidden;
}
.wd-break{
  word-break: break-all;
}
.detail-layer-pannel{
  position: fixed;
  width: 50%;
  height: 100%;
  z-index: 9999;
  overflow: scroll;
  top: 0;
  right: 0;
}
.table-condensed caption{
  font-size: 30px;
}
.response-body{
  width: 100%;
  float: left;
}
.response-show-div{
  font-size: 14px;
  overflow: scroll;
}
.response-url-title{
  background: #f5f5dc none repeat scroll 0 0;
  padding: 12px;
  word-break: break-all;
  font-size: 14px;
}
.scroll-table{
  overflow: scroll;
  position: absolute;
  top: 35px;
  height: 100%;
  width: 50%;
}
.request-list{
  width: 100%;
}
tr{
  cursor: pointer;
}
tr.tr-host-selected,tr.tr-host-selected td{
  background-color: #bff5f7 !important;
}
tr.tr-maplocal-selected,tr.tr-maplocal-selected td{
  background-color: #f3d0b8 !important;
}
tr.tr-status-400,tr.tr-status-400 td{
  color: red !important;
}
tr.click-selected,tr.click-selected{
  outline: #3CB371 solid 2px;
}
.filter-control{
  position: fixed;
  top: 0;
  width: 50%;
  border-bottom: solid 2px #000;
}
.filter-control .form-group .input-group .input-group-addon{
  width: 80px;
}
.filter-control .form-group,
.filter-control .form-group .input-group{
  width: 100%!important;
}

.dataTables_wrapper .DTTT_container .DTTT_button.active {
  border-bottom: 2px solid green;
}

/*overwrite */
.panel{
  padding: 10px;
}
.panel .panel-body{
  padding-top: 0;
}
.dataTables_wrapper .DTTT_container .DTTT_button{
  padding: 4px;
}

/* normal style */
.table > thead > tr > td, .table > tbody > tr > td, .table > tfood > tr > td, .table > thead > tr > th, .table > tbody > tr > th, .table > tfood > tr > th{
  padding: 3px 5px;
}
.clear{
  clear: both;
}
pre{
  tab-size: 2;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}